* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


/* GENERICOS */

html {
    --darkBlue: #0C162D;
    --ligthBlue: #00A2FF;
}

body {
    background: var(--darkBlue);
    color: #FFF;
}

button {
    background: var(--darkBlue);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.wrong {
    background: #cc7780;
    color: red;
}


/* UTILITIES */

.d-flex {
    display: flex;
}

.center {
    flex-direction: column;
    align-items: center;
}

.text-blue {
    color: var(--ligthBlue);
    font-weight: 700;
}

.mt {
    margin-top: 3rem;
}

.me {
    width: 250px;
}

.mb {
    margin-bottom: 5rem;
}

.text-bold-blue {
    color: var(--ligthBlue);
    font-weight: bold;
}

p,
span {
    font-size: 1.8rem;
    font-weight: lighter;
}

h1 {
    font-size: 3.2rem;
    text-align: center;
    font-weight: bolder;
}

.description {
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
    padding: 2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}

#nav li a:hover {
    color: var(--ligthBlue);
}


/* SEND MESSAGE */

.success-msg {
    height: 81vh;
}

.success-msg img {
    width: 31rem;
}

.msg {
    height: 100%;
    justify-content: center;
}

.msg h1 {
    font-size: 3rem;
    margin-top: 2rem;
}

.msg p {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.back-arrow {
    background: var(--ligthBlue);
    color: var(--darkBlue);
    font-size: 2rem;
    text-decoration: none;
    align-items: center;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 1.3rem;
}

.back-arrow .img-msg {
    width: 4rem;
}


/* HOME */

.info {
    margin: 3rem 2rem;
}

.info p {
    text-align: justify;
    margin-bottom: 1.5rem;
    line-height: 130%;
    font-weight: 300;
}

.social {
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

.btn-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--darkBlue);
    background: var(--ligthBlue);
    text-decoration: none;
    padding: 1.2rem 7rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    width: 40%;
    margin: 2rem auto;
    border: none;
}

.contact-desc {
    color: var(--darkBlue);
    font-weight: 400;
    margin-top: 1rem;
}


/* EDUCATION */

.icon-head {
    align-items: center;
    justify-content: flex-start;
    margin: 8rem 0 3rem 0;
}

.icon-head h2 {
    margin-left: 2rem;
}

.education p {
    line-height: 180%;
}


/* SKILL */

.icon-skill p {
    margin-left: 2rem;
}

.grid-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 3rem;
}

.skills div {
    margin-bottom: 2rem;
    align-items: center;
}

.skills div p {
    margin-left: 2rem;
}


/* PROJECTS */

.proyectos {
    width: 100%;
    min-height: 181px;
    background: var(--ligthBlue);
    border-radius: 2rem;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-project {
    flex-direction: column;
}

#projects {
    margin-bottom: 5rem;
}

.title-project {
    text-align: center;
    color: #fff;
    padding-top: 1rem;
}

.title-project a {
    font-size: 2rem;
    color: var(--dark-blue);
}

.tags p {
    margin: 1rem;
    font-size: 1.4rem;
    background: var(--darkBlue);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--ligthBlue);
    font-weight: bold;
}

.tags {
    height: 83%;
    align-items: flex-end;
    justify-content: center;
}

.tetris {
    background-image: url('/img/proyectos/tetris.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.ahorcado {
    background-image: url('/img/proyectos/ahorcado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.tributo {
    background-image: url('/img/proyectos/arthas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* FORM */

.contact {
    color: var(--darkBlue);
}

.form {
    width: 80%;
    margin-top: 2rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    font-size: 1.8rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    border: none;
    margin: 1.3rem 0 1.5rem 0;
    color: var(--darkBlue);
    color: var(--darkBlue);
}

label {
    font-size: 2rem;
    color: var(--darkBlue);
}

.btn-submit {
    width: 100%;
    background: var(--darkBlue);
    color: var(--ligthBlue);
    padding: 1rem 2rem;
    font-size: 2rem;
    border: 1px solid var(--darkBlue);
    border-radius: 1.5rem;
    cursor: pointer;
}

.btn-close {
    background: url('../img/close.svg');
    background-repeat: no-repeat;
}

.alert {
    font-size: 1.4rem;
    color: #FFF;
    font-weight: 300;
    background: rgb(255, 65, 65);
    padding: 0.4rem 1rem;
    border-radius: 1rem;
}

.contact {
    padding-top: 3rem;
    align-items: center;
}

.contact h2 {
    margin: 1rem;
}

.contact-form {
    flex-direction: column;
    align-items: center;
}


/* FOOTER */

footer {
    background: var(--ligthBlue);
    /* height: 10rem; */
}

footer div p {
    color: var(--darkBlue);
    font-weight: normal;
    text-align: center;
}

.social-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}


/* dropdown */

.dropdown-btn {
    color: #FFF;
    width: 50px;
    height: 50px;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.btn-menu {
    background-image: url(../img/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown ul {
    list-style: none;
    background: var(--ligthBlue);
}

.dropdown-content {
    display: none;
    right: 0%;
    position: absolute;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 100;
}

.dropdown-content a {
    color: var(--darkBlue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.8rem;
}

.d-none {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (min-width: 768px) {
    p,
    span,
    .title-project a {
        font-size: 2rem;
    }
    .tags p {
        font-size: 1.4rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 3rem;
    }
    .dropdown-content a {
        font-size: 2rem;
        padding: 1.4rem 3rem;
    }
    .me {
        width: 35rem;
    }
    .grid-skills {
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery-project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    label,
    input[type="text"],
    input[type="email"],
    input[type="submit"],
    textarea {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1024px) {
    span,
    p {
        font-size: 2rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    .dropdown-btn {
        display: none;
    }
    #nav {
        display: flex;
        font-size: 4rem;
        background: none;
    }
    #nav li {
        padding: 2rem;
    }
    #nav li a {
        color: #FFF;
        text-decoration: none;
    }
    .tags p {
        font-size: 1.5rem;
    }
    .icon-head {
        margin-top: 3rem;
    }
    #skills,
    #education {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #contact {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 5rem;
    }
    #contact form {
        width: 40%;
        margin-bottom: 5rem;
    }
    .text-center {
        justify-content: center;
    }
    .gallery-project {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }
    label,
    input[type="text"],
    input[type="email"],
    input[type="submit"],
    textarea {
        font-size: 1.8rem;
    }
    .btn-contact {
        width: 10%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1440px) {
    .personal-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5rem;
        align-items: center;
        justify-items: center;
    }
    .social {
        margin: 4rem;
    }
    .social img {
        margin: 2rem 6rem;
    }
    article p {
        margin-right: 2rem;
    }
    #nav li a {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        width: 1500px;
        margin: 0 auto;
    }
    .me {
        width: 450px;
    }
    .personal-info {
        justify-items: start;
    }
}